.coin-row:hover {
    cursor: pointer;
    background-color: #F5F5F5;
}

tr {
    border: solid thin;
}


.name-symbol-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.coin-image {
    vertical-align: middle;
    height: 64px;
    width: 64px;
    object-fit: contain;
}

.coin-symbol {
    font-size: 12.5px;
}